body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 20px;
}

    a{
        color: white;
        text-decoration: none;
    }
ul{
  display: flex;
  justify-content: space-between;  
  align-items: center;
  gap: 5px;
  padding: 10px;
}

header img{
    text-align: center;
    width: 150px;
    border-radius: 150%;
    border: solid white;
}

header{
    text-align: center;
}
h1{
    text-align: center;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin: 50px 0px
}
footer a{
    margin-top: 5px;
    justify-content: space-between;
    text-align: center;
    justify-content: center ;
    padding: 0px 50px;
}

footer img{
    justify-content: center ;
    width: 40px;
    height: 40px;
    margin-top: -30px;
    margin-bottom: -20px;
}
